version: 2
updates:
  # Maintain dependencies for npm
  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    open-pull-requests-limit: 10
    groups:
      angular:
        patterns:
          - '@angular/*'
      testing:
        patterns:
          - 'vitest'
          - '@vitest/*'
          - '@playwright/*'
          - 'eslint'
          - 'typescript-eslint'

  # Maintain dependencies for GitHub Actions
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
